<div class="o-content">
    <mat-card class="example-card"> 
        <mat-card-header>
          <div class="o-box-header-card">
            <div>
              <img mat-card-avatar class="example-header-image" src="{{personaje.image}}" alt="logo">
            </div>
            <div class="o-box-header-card-titles--grid">
              <div class="o-box-header-card-titles-icon">
                <mat-icon (click)="favoritoAdd()" class="icon-add" *ngIf="!fav">star</mat-icon>
                <mat-icon (click)="favoritoRm()" class="icon-rm" *ngIf="fav">star</mat-icon>
              </div>
              <mat-card-title class="o-name text-right">{{personaje.name}}</mat-card-title>
              <mat-card-subtitle class="o-estado text-right">Estado: {{personaje.status}}</mat-card-subtitle>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="o-box-table-cards-table-data font-size">
            <p class="negrita">Origen (nombre):</p>
            <p class="text-right">{{personaje.origin.name}}</p>
    
            <p class="negrita">Origen (url):</p>
            <a href="personaje.location.url" class="text-right">{{personaje.origin.url}}</a>
    
            <p class="negrita">Genero:</p>
            <p class="text-right">{{personaje.gender}}</p>
            
            <p class="negrita">Especie:</p>
            <p class="text-right">{{personaje.species}}</p>
    
            <p class="negrita">Ultima locación (nombre):</p>
            <p class="text-right">{{personaje.location.name}}</p>
    
            <p class="negrita">Ultima locación (url):</p>
            <a href="personaje.location.url" class="text-right">{{personaje.location.url}}</a>
    
          </div>
    
          <div class="o-box-table-cards-table-data-episodes o-border-top font-size">
            <div>
                <p class="negrita">Episodios:</p>
            </div>
    
            <div class="o-grid-episode">
                <a *ngFor="let epi of personaje.episode" href="personaje.location.url" class="text-right">{{epi}}</a>
            </div>
    
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="o-button-white-hover">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-raised-button color="warn" class="o-button-hover">
          <mat-icon>delete</mat-icon>
      </button>
        </mat-card-actions>
      </mat-card>
</div>
