<mat-toolbar>
    <button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/inicio" *ngIf="!movil">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item routerLink="/vista-cards" *ngIf="movil">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item routerLink="/agregar" class="o-button--hover">
        <mat-icon>add</mat-icon>
        <span>Agregar Superhéroe</span>
      </button>
    </mat-menu>
    <span>Rick & Morty Api</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg" class="o-box-logo-marvel">
    <span class="example-spacer"></span>
    <div class="o-movil">
      <a mat-button routerLink="/inicio" > Inicio</a>
      <a mat-button routerLink="/agregar"> Agregar Superhéroe</a>
      <a mat-button routerLink="/modificar"> Modificar Superhéroe</a>
      <a mat-button> Contacts </a>
    </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" class="o-movil">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="o-movil">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>