.o-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4vh;
}

.example-card {
  width: 65vh;
}


.o-box-table-cards-table-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1vh;
}

.title {
  font-weight: bold;
  color: var(--green-color)
}

.o-color {
  color: var(--secundary-color);
}