<div class="o-box-button">
  <button mat-fab color="warn" class="button-back o-button-hover" (click)="goInicio()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>
<div class="o-content">
    <h1 class="title">{{locacion.name}}</h1>
    <mat-card class="example-card">
        <mat-card-content>
          <div class="o-box-table-cards-table-data font-size">
            <p class="negrita o-color">Tipo de locación:</p>
            <p class="text-right o-color">{{locacion.type}}</p>
    
            <p class="negrita o-color">Dimensión:</p>
            <p class="text-right o-color">{{locacion.dimension}}</p>

            <p class="negrita o-color">Número de residentes:</p>
            <p class="text-right o-color">{{locacion.residents.length}}</p>
          </div>
    
        </mat-card-content>
      </mat-card>
</div>
