<div class="o-box-table" *ngIf="!movil">
    <table mat-table [dataSource]="arrayPersonajes" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef> Imagen </th>
            <td mat-cell *matCellDef="let element"> 
              <img src="{{element.image}}" alt="" width="50" height="50" (click)="vistaPersonaje(element.id)" class="o-img-personaje">    
          </td>
          </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="especie">
          <th mat-header-cell *matHeaderCellDef> Especie </th>
          <td mat-cell *matCellDef="let element"> {{element.species}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="ultima locacion">
          <th mat-header-cell *matHeaderCellDef> Ultima locación </th>
          <td mat-cell *matCellDef="let element">  
            <button (click)="vistaLocacion(element.location.url)" class="o-button-locacion negrita">{{element.location.name}}</button>
          </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="ultimo episodio">
          <th mat-header-cell *matHeaderCellDef> Ultimo episodio </th>
          <td mat-cell *matCellDef="let element"> {{element.episode[element.episode.length - 1]}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="modificar">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">       
            <button mat-raised-button class="o-button-pink-hover" (click)="vistaPersonaje(element.id)">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
        </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>