table {
    width: 100%;
    margin-top: 2vh;
}

.o-box-table {
    padding: 0 2vh;
}

::ng-deep .mat-header-cell {
    font-weight: bold;
    color: var(--secundary-color);
}


.o-button-pink-hover {
    background-color: var(--pink-color);
    color: var(--tertiary-color);
}

.o-button-pink-hover:hover {
    background-color: var(--hover-pink-color);
}

.o-button-locacion {
    background-color: white;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
}

.o-button-locacion:hover {
    color: var(--hover-button-color);
}

.o-img-personaje{
    cursor: pointer;
}



@media (min-width: 1280px) and (max-width: 1400px) {
    table {
        width: 100%;
        margin-top: 3vh;
    }
    
    .o-box-table {
        padding: 0 5vh;
    }

}