/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.negrita{
    font-weight: bold;
}

.font-size{
    font-size: 1.8vh;
}

//paleta de colores globales de la aplicación
:root {
    --primary-color: #69c8ecff;
    --secundary-color: #24325FFF;
    --tertiary-color: #ffff;
    --hover-button-color: rgb(92, 174, 204);
    --hover-white-color: #f5f5f5;
    --green-color: #97ce4c;
    --yellow-color: #fff874;
    --pink-color: #f675da;
    --hover-pink-color: #db6ac3;
}